In [ ]:
#QN1
r=float(input('Enter the radius '))
print('Area of circle is ',3.14*(r**2))

Enter the radius 5
Area of circle is  78.5

In [ ]:
#QN2
name = input('Enter the name:')
roll = int(input('Enter the roll number:'))
mark = int(input('Enter the mark:'))

print('Name: ', name)
print('Roll No: ', roll)
print('Mark: ',mark)

Enter the name:AB
Enter the roll number:12
Enter the mark:85
Name:  AB
Roll No:  12
Mark:  85

In [ ]:
#QN3
a= [12,3,47,10]
large=0
for i in a:
  if(i>large):
    large=i

print (large,' is the largest number')

47  is the largest number

In [ ]:
#QN4
for curr in range (1,11):
  prev = curr-1
  total=prev+curr
  print('Current Number ',curr,' Previous Number ', prev,'Sum : ',total)
  prev = curr
  curr+=1

Current Number  1  Previous Number  0 Sum :  1
Current Number  2  Previous Number  1 Sum :  3
Current Number  3  Previous Number  2 Sum :  5
Current Number  4  Previous Number  3 Sum :  7
Current Number  5  Previous Number  4 Sum :  9
Current Number  6  Previous Number  5 Sum :  11
Current Number  7  Previous Number  6 Sum :  13
Current Number  8  Previous Number  7 Sum :  15
Current Number  9  Previous Number  8 Sum :  17
Current Number  10  Previous Number  9 Sum :  19

In [ ]:
#QN5
a=[10, 20,33,46,55]
five=[]
while len(a)>0:
  num = a.pop()
  if(num%5==0):
    five.append(num)
print(sorted(five))

[10, 20, 55]

In [ ]:
#QN6
num=int(input('Enter number '))
a=0
if num>1:
  for i in range(2,num+1):
    if (num%i==0):
      a+=1
  if(a!=1):
    print(num," is not a prime number")
  else:
    print(num, "is a prime number")
else:
  print(num, "is neither prime nor composite number")

Enter number 2
2 is a prime number

In [ ]:
#QN7
org =[10,40,30,70]
rev =[]
for i in range(len(org)-1,-1,-1):
  rev.append(org[i])

print('Original list is ', org)
print('Reveresed list is ', rev)

Original list is  [10, 40, 30, 70]
Reveresed list is  [70, 30, 40, 10]

In [ ]:
#QN8
for i in range(1,5):
  print('*'*i)

*
**
***
****

In [ ]:
#QN9
a=float(input('Enter the first number '))
b=float(input('Enter the second number '))
c=float(input('Enter the third number '))

if (a>b):
  if(a>c):
    print(a," is the largest number")
  else:
    print(c," is the largest number")
elif(b>c):
  print(b," is the largest number")
else:
  print(c," is the largest number")

Enter the first number 34
Enter the second number 12
Enter the third number 7
34.0  is the largest number

In [ ]:
#QN10
for i in range(1,7):
  if (i<=5):
    print('*'*i)
  elif(i>5):
    for j in range(4,0,-1):
      print('*'*j)

*
**
***
****
*****
****
***
**
*