In [8]:
#QN1
a= input('Enter a string value ')
n=len(a)

for i in range(0,n):
  print(a[i], '= ',i+1)

Enter a string value hello
h =  1
e =  2
l =  3
l =  4
o =  5

In [9]:
#QN2
a=float(input('Enter the first number '))
b=float(input('Enter the second number '))
c=float(input('Enter the third number '))

if (a>b):
  if(a>c):
    print(a," is the largest number")
  else:
    print(c," is the largest number")
elif(b>c):
  print(b," is the largest number")
else:
  print(c," is the largest number")

Enter the first number 34
Enter the second number 12
Enter the third number 7
34.0  is the largest number

In [38]:
#QN3
def exponent(base,exp):
  a= base**exp
  return a

base=int(input('Enter the base value '))
exp=int(input('Enter the power '))

ans=exponent(base,exp)

print(base,' raised to the power ',exp,' is ', ans)

Enter the base value 3
Enter the power 3
3  raised to the power  3  is  27

In [15]:
#QN4
a=int(input('Enter a positive integer '))
sum=0

for i in range(1,a):
  sum= sum+i**3

print('Sum of the cube of all the positive integers smaller than',a,' is ',sum)

Enter a positive integer 4
Sum of the cube of all the positive integers smaller than 4  is  36

In [19]:
#QN5
for i in range(1,11):
  if(i%2==0) and (i%5==0):
    print('FizzBuzz',end=' ')
  elif(i%2==0):
    print('Fizz',end=' ')
  elif(i%5==0):
    print('Buzz',end=' ')
  else:
    print(i,end=' ')

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [36]:
#QN6
a=[2,3,4,2,5,2]
maxi=max(set(a),key=a.count)
print(maxi)

2

In [21]:
#QN7
a=[2,1,3,1]
sum=0
while(len(a)>0):
  sum=sum+(a.pop()**2)

print('Sum of squares of the numbers in the list is ',sum)

Sum of squares of the numbers in the list is  15

In [24]:
#QN8
for i in range(1,16):
  if(i%2!=0):
    print(i,'-odd',end=' ')
  else:
    print(i,'-even',end=' ')

1 -odd 2 -even 3 -odd 4 -even 5 -odd 6 -even 7 -odd 8 -even 9 -odd 10 -even 11 -odd 12 -even 13 -odd 14 -even 15 -odd

In [33]:
#QN9
def f_c(c):
  f=(c*9/5)+32
  return f

def c_f(f):
  c=(f-32)*5/9
  return c

a=input('Enter if you want to convert from C or F ').upper()
conv=0
if(a=='C'):
  c=float(input('Enter the value in celsius '))
  conv=f_c(c)
  print(c,' degree celsius is ',conv,' degree fahrenheit')
elif(a=='F'):
  f=float(input('Enter the value in fahrenheit '))
  conv=c_f(f)
  print(f,' degree fahrenheit is ',conv,' degree celsius')

Enter if you want to convert from C or F f
Enter the value in fahrenheit 41
41.0  degree fahrenheit is  5.0  degree celsius

In [35]:
#QN10
a=1
n=int(input('Enter the number '))
for i in range(1,n+1):
  a=a*i

print('The factorial of ',n,' is ',a)

Enter the number 3
The factorial of  3  is  6